.easypiechart-teal{
        scaleColor: false,
        barColor: '#1ebfae';
    }



    .eayiechart-orange{
        scaleColor: false,
        barColor: '#ffb53e';
    }


    .easypiechart-red{
        scaleColor: false,
        barColor: '#f9243f';
    }

  .easypiechart-blue.{
       scaleColor: false,
       barColor: '#30a5ff';
}